# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python-related ignored files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

.idea/
test.py
# Virtual environment
venv/
env/
*.env

# Logs and temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db